.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
  }
  
  .App-header {
    text-align: center;
    background: url('../../assets/AppBg.jpg') center top;
    height:100vh;
    display:flex;
    color:white;
    justify-content: center;
    align-items: center;
    cursor:pointer;
  }
  
  
  @keyframes App-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
  }
  
  